.paper {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#filterContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
}
#search-icon {
  font-size: 28px;
}
#clear-icon {
  font-size: 36px;
}
#clear-button {
  font-size: 36px;
  margin-left: 1rem;
  border: 2px solid white;
  border-radius: 15%;
  height: 2.75rem;
  width: 2.75rem;
  vertical-align: middle;
}
#filter-menu {
  margin-right: 2rem;
  margin-left: 1rem;
}
#filter-button {
  margin-left: 3rem;
}
#filter-dropdown {
  width: 11rem;
}
#avatar {
  height: 4rem;
  width: 4rem;
  background-color: #86c232;
}
#homeLoading {
  display: none;
  margin: auto;
  margin-top: 5rem;
}
#headerItem {
  align-self: center;
  text-align: center;
}
