.paper {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#filterContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
}
#search-icon {
  font-size: 28px;
}
#filter-menu {
  margin-right: 2rem;
  margin-left: 1rem;
}
#filter-button {
  margin-left: 3rem;
}
#avatar {
  height: 4rem;
  width: 4rem;
  background-color: #86c232;
}
#homeLoading {
  display: none;
}

#test {
  padding-left: -2rem;
}