#leaderboardLoading {
  display: none;
  align-self: center;
  margin-top: 2rem;
}
.leaderboardContainer {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  text-align: center;
  padding-bottom: 2.5rem;
}
#leaderboardHeader {
  padding-bottom: 1rem;
}
#leaderboardItem {
  align-self: center;
  text-align: center;
}
#pagination {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.65rem;
}
#meScore {
  display: none;
  padding: 1.5rem;
  padding-top: 3rem;
}
