<<<<<<< HEAD
.login {
=======
.paper {
  margin-top: 8rem;
>>>>>>> 13584228-login-front-end
  display: flex;
  flex-direction: column;
  align-items: center;
}
<<<<<<< HEAD
=======
.form {
  width: 100%;
  margin-top: 1rem;
}
#submit {
  margin: 3rem 0rem 2rem;
}
#loading {
  display: none;
}
#signInText {
  padding: 0.275rem;
}
>>>>>>> 13584228-login-front-end
