.paper {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#requestFormQuestion {
  margin-top: 1rem;
}
#requestFormTitle,
#requestFormButton {
  text-align: center;
}
#addRequestButton {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 1rem;
}
